@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;

}

h1 {
    color: white;
}

.img-container {
    text-align: center;
}

.img-container #title {
    color: white;
}

.navigation {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.action-btn {
    background-color: #333;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn.action-btn-big {
    color: white;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.volume-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.volume-prog {
    background-color: #e20505;
    border-radius: 5px;
    height: 100%;
    /* width: 0%; */
    /* transition: width 0.1s linear; */
}

.progress {
    background-color: #e20505;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.volume {
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-btn {
    color: white;
}